/*
 * Write your custom CSS here
 */

.profile-section {
	display: flex;
	gap: 50px;
	background-color: pink;
	padding: 25px;
}
.profile-section:hover{
	border-radius: 25%;
}

img.profile {
	border-radius: 50%;
}
img:hover{
	border-radius: 25%;
}
h1{
	background-color: purple;
	color: white;
	padding: 25px;
}
p{
	font-size: 25px;
	color: white;
}